<% @error = 0 %>
<% @correct = 0 %>

<% ##Goes through all the urls that are found within and XML and sends each to the maininfo method %>
<% def getArchive(year, quarter) %>
	<% 	@destination = "ftp://ftp.sec.gov/edgar/full-index/#{year}/#{quarter}/sitemap.quarterlyindex1.xml" %> 
	<%	puts(@destination) %>
	<% 	doc = Nokogiri::XML(open(@destination)) %>
	
	<% doc.css("url").each do |entry| %>
		<%		raw_url = entry.at_css('loc').to_s.sub('<loc>','').sub('</loc>','').sub('-index.htm','.txt').strip %>
		<%		puts(raw_url) %>
		<% 		maininfo(raw_url) %>
		<%# '<br />'.html_safe %>
	<% end %>

<% end %>

<% ##Each URL found in the quartlery XML is sent here to be parsed %>
<% def maininfo(target) %>

	<% begin %>
		<% @global = [] %>
		<% @destination = target %>
		<% @doc = Nokogiri::HTML(open(@destination)) %>

		<% @indexarray = 
			[
				['<SEC-DOCUMENT>'],
				['<SEC-HEADER>'],
				['<ACCEPTANCE-DATETIME>'],
				['ACCESSION NUMBER:'],
				['CONFORMED SUBMISSION TYPE:'],
				['CONFORMED PERIOD OF REPORT:'],
				['PUBLIC DOCUMENT COUNT:'],
				['FILED AS OF DATE:'],
				['DATE AS OF CHANGE:'],
				['EFFECTIVENESS DATE:'],
				['SUBJECT COMPANY:'],
				['FILER:'],
				['COMPANY DATA:'],
				['COMPANY CONFORMED NAME:'],
				['CENTRAL INDEX KEY:'],
				['STANDARD INDUSTRIAL CLASSIFICATION:'],
				['IRS NUMBER:'],
				['STATE OF INCORPORATION:'],
				['FISCAL YEAR END:'],
				['FILING VALUES:'],
				['FORM TYPE:'],
				['SEC ACT:'],
				['SEC FILE NUMBER:'],
				['BUSINESS PHONE:'],
				['FILM NUMBER:'],
				['BUSINESS ADDRESS:'],
				['STREET 1:'],
				['CITY:'],
				['STATE:'],
				['ZIP:'],
				['FORMER COMPANY:'],
				['FORMER CONFORMED NAME:'],
				['DATE OF NAME CHANGE:'],
				['<SERIES-AND-CLASSES-CONTRACTS-DATA>'],
				['<EXISTING-SERIES-AND-CLASSES-CONTRACTS>'],
				['<SERIES>'],
				['<OWNER-CIK>'],
				['<SERIES-ID>'],
				['<SERIES-NAME>'],
				['<CLASS-CONTRACT>'],
				['<CLASS-CONTRACT-ID>'],
				['<CLASS-CONTRACT-NAME>'],
				['<DOCUMENT>'],
				['</DOCUMENT>'],
				['</SEC-DOCUMENT>']
			] %>


		<% $i =0 %>
		<% while $i < @indexarray.length %>

		<% tempindex = @doc.to_s.index(@indexarray[$i][0]) %>
		<% @indexarray[$i].push(tempindex.to_i) %>
		<% $i +=1 %>

		<% end %>

		<% @indexarray = @indexarray.sort_by { |name, age| age } %>

		<% $i =0 %>
		<% while $i < @indexarray.length %>

			<% nexti = $i + 1 %>
			<% currentcount = @indexarray[$i][1].to_i %>
			<% nextcount = @indexarray[nexti][1].to_i %>

			<% if currentcount != 0 && nextcount != 0 %>
				<% difference = nextcount - currentcount %>
				<% tempindex = @doc.to_s[currentcount,difference] %>
				<% tempindex = tempindex.sub(@indexarray[$i][0],'') %>
				<% tempindex = tempindex.gsub(/<\/?[^>]*>/, '') %>
				<% tempindex = tempindex.gsub(/\n/, '') %>
				<% tempindex = tempindex.gsub(/\t/, '') %>
				<% tempindex = tempindex.gsub('&amp;', '').to_s %>
				<% @global.push([@indexarray[$i][0],tempindex]) %>
			<% end %>

			<% $i +=1 %>
			<% @correct = @correct + 1 %>

			<% if (@correct % 100) == 0 %>
				<% puts(@correct) %>
			<% end %>

		<% end  %>

	<% getinfo(@global,target) %>

	<% rescue %>

	<% @error = @error + 1 %>

	<%# puts("Destination: " + @destination.to_s ) %>
	<%# puts("Errors: " + @error.to_s ) %>
	<%# puts("Correct: " + @correct.to_s ) %>
	<% getinfo(@global,target) %>
	<% end %>

	<% '<br /><br />'.html_safe %>


<% end %>

<% def getinfo(array, target) %>
	<% formattedArray = Array.new %>
	<% temp = array.select{ |x| x[0] == "FILED AS OF DATE:" }.first %>
	<% formattedArray[0] = temp[1].to_date if temp != nil #0 %>
	<% temp = array.select{ |x| x[0] == "ACCESSION NUMBER:" }.first %>
	<% formattedArray[1] = temp[1] if temp != nil #0 %>
	<% temp = array.select{ |x| x[0] == "COMPANY CONFORMED NAME:" }.first %>
	<% formattedArray[2] = temp[1] if temp != nil #0 %>
	<% temp = array.select{ |x| x[0] == "FORM TYPE:" }.first %>
	<% formattedArray[3] = temp[1] if temp != nil #0 %>
	<% temp = array.select{ |x| x[0] == "SEC ACT:" }.first %>
	<% formattedArray[4] = temp[1] if temp != nil #0 %>
	<% temp = array.select{ |x| x[0] == "IRS NUMBER:" }.first %>
	<% formattedArray[5] = temp[1] if temp != nil #0 %>
	<% temp = array.select{ |x| x[0] == "STANDARD INDUSTRIAL CLASSIFICATION:" }.first %>
	<% formattedArray[6] = temp[1] if temp != nil #0 %>
	<% temp = array.select{ |x| x[0] == "STATE OF INCORPORATION:" }.first %>
	<% formattedArray[7] = temp[1] if temp != nil #0 %>
	<% temp = array.select{ |x| x[0] == "FORMER CONFORMED NAME:" }.first %>
	<% formattedArray[8] = temp[1] if temp != nil #0 %>
	<% temp = array.select{ |x| x[0] == "CENTRAL INDEX KEY:" }.first %>
	<% formattedArray[9] = temp[1] if temp != nil #0 %>
	<% temp = array.select{ |x| x[0] == "CONFORMED SUBMISSION TYPE:" }.first %>
	<% formattedArray[10] = temp[1] if temp != nil #0 %>
	<% temp = array.select{ |x| x[0] == "STANDARD INDUSTRIAL CLASSIFICATION:" }.first %>
	<% formattedArray[11] = temp[1] if temp != nil #0 %>

	<% @company = Company.find_or_initialize_by(cik: formattedArray[9] )

	    @filing = @company.filings.find_or_initialize_by(file_serial: formattedArray[1])

	    @filing.cik        		= formattedArray[9]
	    @filing.title      		= formattedArray[2]
	    @filing.irsnumber  		= formattedArray[5]
	    #@filing.links      	= formattedArray[9]
	    #@filing.summary    	= formattedArray[9]
	    @filing.updated    		= formattedArray[0]
	    @filing.categories 		= formattedArray[10]
	    @filing.file_serial    	= formattedArray[1]
	    @filing.filingtext		= Net::HTTP.get_response(URI.parse(target)).body
	    @filing.url = target
	          
	          @company.cik = @filing.cik 
	          @company.name = formattedArray[2]
	          @company.industry = formattedArray[11]
	          @company.save

	    @filing.save

	   %>

	<%#= debug(@filing) %>
	<%#= debug(formattedArray) %>
	<%#= debug(@filing.cik) %>

	<%#= puts(@filings.size) %>
	<%# puts(formattedArray) %>

<% end %>



<%# maininfo('http://www.sec.gov/Archives/edgar/data/12978/0000012978-94-000002.txt
') #notfucked %>
<%# '<br /><br />'.html_safe %>
<%# maininfo('http://www.sec.gov/Archives/edgar/data/3197/0001181431-14-000418.txt') #fucked %>
<%# '<br /><br />'.html_safe %>
<%# maininfo('http://www.sec.gov/Archives/edgar/data/356028/0000356028-14-000012.txt') #fucked %>

<% def thisyear %>
	<% 	@destination = "ftp://ftp.sec.gov/edgar/full-index/2014/QTR1/sitemap.quarterlyindex1.xml" %> 
	<%	puts(@destination) %>
	<% 	doc = Nokogiri::XML(open(@destination)) %>
	<% 	#puts("The size of this is ====" + doc.css("url").size.to_s) %>
	
	<% doc.css("url").reverse.each do |entry| %>
		<%		raw_url = entry.at_css('loc').to_s.sub('<loc>','').sub('</loc>','').sub('-index.htm','.txt').strip %>
		<%		puts(raw_url) %>
		<% 		maininfo(raw_url) %>
		<%# '<br />'.html_safe %>
	<% end %>
<% end %>

<%#= Net::HTTP.get_response(URI.parse("http://www.sec.gov/Archives/edgar/data/3197/0001181431-14-000418-index.htm")).body %>
	<% i = 2014 %>
	<%# i = 2000 %>
	<% num = DateTime.now.year - 1 %>
	<% quartArray = ["QTR1","QTR2","QTR3","QTR4"] %>

	<% quarter = ((Time.now.month - 1) / 3) + 1 %>
	    
	<% while i <= num  do %>

		<% quartCount = 0 %>

		<% while quartCount <= 3  do %>
		<% getArchive(i, quartArray[quartCount]) %>
		<% quartCount += 1 %>
		<% end %>

		<% i +=1 %>

	<% end %>

		<% quartCount = 0 %>
		<% "<div>#{i}</div>".html_safe %>

	<% while quartCount < quarter  do %>
		<% getArchive(i, quartArray[quartCount]) %>
		<% quartCount += 1 %>
	<% end %>
