
<h3>Importer</h3>
<div class="row">
<%

require 'feedzirra'
require 'rubygems'
require 'sanitize'

feed = Feedzirra::Feed.fetch_and_parse("http://www.sec.gov/cgi-bin/browse-edgar?action=getcurrent&type=&company=&dateb=&owner=include&start=0&count=100&output=atom")

%>

<%=

	feed.entries.each do |entry|

		#@filing = Filing.new

		@filing = Filing.find_or_create_by(file_id: entry.entry_id )

		@filing.title      = entry.title

		@filing.url        = entry.url 

		@filing.links      = entry.links.join(" ")

		@filing.summary    = entry.summary 

		@filing.updated    = entry.updated 

		@filing.categories = entry.categories.join(" ")

		@filing.file_id    = entry.entry_id 

		@filing.save

	end


%>
