<div class="row columns">
<h3>Home</h3>

<canvas class="panel" id="results" width="500px" height="400px"></canvas>

</div>
<%#= @filings.count('categories', :distinct => true) %>

<script>
var buyerData = {
	labels : ["Form 3","Form 4","Form SC 13G","Form D"/**,"May","June","July"**/],
	datasets : [
		{
			fillColor : "rgb(0,128,128)",
			strokeColor : "rgba(210,220,220,1)",
			data : [<%= @filings.where(categories: '3').count %>,<%= @filings.where(categories: '4').count %>,<%= @filings.where(categories: 'SC 13G').count %>,<%= @filings.where(categories: 'D').count %>/**,90,81,56,55,40**/]
		}/**,
		{
			fillColor : "rgba(151,187,205,0.5)",
			strokeColor : "rgba(151,187,205,1)",
			data : [28,48,40,19,96,27,100]
		}**/
	]
};

var pieOptions = {
    segmentShowStroke : true,
    segmentStrokeColor : "#fff",
    segmentStrokeWidth : 2,
    percentageInnerCutout : 50,
    animation : true,
    animationSteps : 100,
    animationEasing : "easeOutBounce",
    animateRotate : true,
    animateScale : false,
    onAnimationComplete : "revealInfo()",
    labelFontFamily : "Arial",
    labelFontStyle : "normal",
    labelFontSize : 24,
    labelFontColor : "#666"
}

function revealInfo()
{
    alert("Hello World!");
}

var results = document.getElementById('results').getContext('2d');
new Chart(results).Bar(buyerData,pieOptions);
</script>